{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>首页</title>#}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="/static/css/my-style.css">#}
{#</head>#}
{#<body>#}
{##}
{#<!-- 导航条 -->#}
{#<nav class="navbar navbar-inverse">#}
{#    <div class="container-fluid">#}
{#        <!-- Brand and toggle get grouped for better mobile display -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">CMS</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="#">报障系统</a></li>#}
{#                <li><a href="#">尽请期待</a></li>#}
{#            </ul>#}
{##}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if request.user.username %}#}
{#                    <li><img style="height: 50px;width: 50px;border-radius: 50%" src="/media/{{ request.user.avatar }}">#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="#">个人中心</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="/login/">注销</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li><a href="/login/">登录</a></li>#}
{#                    <li><a href="/register/">注册</a></li>#}
{#                {% endif %}#}
{##}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}
{##}
{##}
{#<!--页面主要内容-->#}
{#<div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-md-2">#}
{#            <div class="panel panel-info">#}
{#                <div class="panel-heading">业务线分类</div>#}
{#                <div class="panel-body">#}
{#                    {% for lob in lob_list %}#}
{#                        <p><a href="">{{ lob.title }}({{ lob.faultreport_set.count }})</a></p>#}
{#                        <p><a href="/fault-report/lob/{{ lob.title }}/">{{ lob.title }}({{ lob.num }})</a></p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="panel panel-success">#}
{#                <div class="panel-heading">标签分类</div>#}
{#                <div class="panel-body">#}
{#                    {% for tag in tag_list %}#}
{#                        <p><a href="/fault-report/tag/{{ tag.title }}/">{{ tag.title }}({{ tag.num }})</a></p>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="panel panel-warning">#}
{#                <div class="panel-heading">日期归档</div>#}
{#                <div class="panel-body">#}
{#                    {% for archive in archive_list %}#}
{#                        <p><a href="/fault-report/archive/{{ archive.ym }}/">{{ archive.ym }}({{ archive.num }})</a></p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-10">#}
{#            <div class="report-list">#}
{#                {% for report in report_list %}#}
{#                    <div class="report">#}
{#                        <div class="report-title">#}
{#                            <h3><a href="">{{ report.title }}</a></h3>#}
{#                        </div>#}
{#                        <div class="report-desc">#}
{#                            <p>{{ report.desc }}</p>#}
{#                        </div>#}
{#                        <div class="report-info">#}
{#                            <span>{{ report.user.username }}发布于</span>#}
{#                            <span>{{ report.create_time }}</span>#}
{#                            <span class="glyphicon glyphicon-comment" aria-hidden="true">评论({{ report.comment_count }})</span>#}
{#                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">支持({{ report.up_count }})</span>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<script src="/static/plugins/jquery-3.3.1.min.js"></script>#}
{#<script src="/static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}

{% extends "monther/monther.html" %}
{% block page-css %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/my-style.css">

{% endblock %}


{% block page-js %}
    <script src="/static/plugins/jquery-3.3.1.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block page-main %}
    {#<!--页面主要内容-->#}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">业务线分类</div>
                <div class="panel-body">
                    {% for lob in lob_list %}
                        <p><a href="">{{ lob.title }}({{ lob.faultreport_set.count }})</a></p>
                        <p><a href="/fault-report/lob/{{ lob.title }}/">{{ lob.title }}({{ lob.num }})</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">标签分类</div>
                <div class="panel-body">
                    {% for tag in tag_list %}
                        <p><a href="/fault-report/tag/{{ tag.title }}/">{{ tag.title }}({{ tag.num }})</a></p>
                    {% endfor %}

                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">日期归档</div>
                <div class="panel-body">
                    {% for archive in archive_list %}
                        <p><a href="/fault-report/archive/{{ archive.ym }}/">{{ archive.ym }}({{ archive.num }})</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="report-list">
                {% for report in report_list %}
                    <div class="report">
                        <div class="report-title">
                            <h3><a href="">{{ report.title }}</a></h3>
                        </div>
                        <div class="report-desc">
                            <p>{{ report.desc }}</p>
                        </div>
                        <div class="report-info">
                            <span>{{ report.user.username }}发布于</span>
                            <span>{{ report.create_time }}</span>
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">评论({{ report.comment_count }})</span>
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">支持({{ report.up_count }})</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}