{% extends 'layout.html' %}


{% block content %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">角色列表</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>角色名</th>
                    <th>拥有的权限</th>

                    <th>操作</th>


                </tr>
                </thead>
                <tbody>
                {% for row in queryset %}
                    <tr>
                        <td>{{ row.title }}</td>
                        <td>
                            {% for role in row.permissions.all %}
                                <span style="display: inline-block;padding: 5px;border: 1px solid #dddddd;">
                                {{ role.title }}
                            </span>
                            {% endfor %}
                        </td>

                        <td>

                            <a href="{% url 'role_edit' row.id %}">编辑</a>


                            <a href="{% url 'role_del' row.id %}">删除</a>

                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>

                <a class="btn btn-primary" href="{% url 'role_add' %}">添加</a>


            </div>
        </div>
    </div>

{% endblock %}