<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p>书名：
        <input type="text" name="title">
    </p>
    <p>出版日期
        <input type="date" name="publish_date">
    </p>
    <p>出版社
        <select name="publisher" id="">
            {% for publisher in publisher_list %}
                <option value="{{ publisher.id }}">{{ publisher.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p>作者：
        <select name="authors" multiple>
            {% for author in author_list %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="添加">
</form>

</body>
</html>