<div class="multi-menu">
	{% for item in menu_list %}
		<div class="item">
			<div class="title">
				<span class="icon-wrap"><i class="fa {{ item.icon }}"></i></span> {{ item.title }}
			</div>
			<div class="body"{{ item.class }}>
				{% for child in item.children %}
{#                    如果是true则显示#}
                    {% if child.is_menu %}
					    <a class="{{ child.class }}" href="{{ child.url }}">{{ child.title }}</a>
                    {% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>