<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
{#             # table-striped 设置灰色背景#}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>id</th>
                    <th>出版社名字</th>

                </tr>
                </thead>
                <tbody>
                {% for publisher in publisher %}
                    <tr>
                        <td>{{ forloop.counter|add:num }}</td>
                        <td>{{ publisher.id }}</td>
                        <td>{{ publisher.name }}</td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        {{ page_html|safe }}

        </div>


    </div>

</div>

</body>
</html>