<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/add_book/">添加书籍</a>
<table border="1">
    <tbody>
    {% for book in data %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.publish_date }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.authors.all }}</td>
        <td>
            <a href="">删除</a>
            <a href="/edit_book/{{ book.id }}/">编辑</a>
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>