<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑书籍</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>编辑书籍</h1>
            <form action="" method="post" novalidate autocomplete="off">
                {% for field in form_obj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p>{{ field.errors.0 }}</p>

                    </div>
                {% endfor %}
                 <input type="submit" class="btn btn-success">
            </form>

        </div>

    </div>

</div>

</body>
</html>