
{% extends 'base.html' %}

{% block page-js %}

    <script src="/static/js/change.js"></script>
{% endblock %}

{% block page-left %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">内容管理</h3>
        </div>
        <div class="panel-body">
            <a class="btn btn-default btn-block" href="/fault-report/add-report/">发布</a>
            <hr>
            <p><a href="">我的评论</a></p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">资料管理</h3>
        </div>
        <div class="panel-body">
            <p><a href="/change_password/">修改密码</a></p>
            <p><a href="/edit_info/">修改信息</a></p>
        </div>
    </div>
{% endblock %}

{% block page-right %}
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">更改密码</h3>
            </div>
            <div class="panel-body login-box">
                <form action="" method="post">
                     {% csrf_token %}
                    <div class="form-group" style="margin-top: 20px">
                        <label for="inputEmail3" class="col-md-2 control-label">旧密码</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="inputEmail3" name="old_password"
                                   placeholder="旧密码">
                            <p class="error_old">{{ error_old }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                            <input style="" type="password" class="form-control" id="inputPassword3" name="new_password"
                                   placeholder="新密码">
                            <p></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">再次输入新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="再次输入新密码"
                                   name="repeat_password">
                            <p class="error_new">{{ error_new }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-10" style="margin: 0 auto;">
                            <button type="submit" class="btn btn-success">提交</button>
                            <a href="/index/" class="btn btn-warning">取消</a>

                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>



{% endblock %}