<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新的故障总结</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
{% include "base.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" id="title" name="title" class="form-control" value="{{ report_obj.title }}">
                </div>
                <div class="form-group">
                    <label for="content">内容</label>
                    <textarea class="form-control" name="content" id="content" rows="20">
                        {{ report_obj.faultdetail.content }}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="">所属业务线</label>
                    <select name="lob" id="lob">
                        {% for lob in lobs %}
                            {% if lob == report_obj.lob %}
                                <option selected value="{{ lob.id }}">{{ lob.title }}</option>
                            {% else %}
                                <option value="{{ lob.id }}">{{ lob.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-success" type="submit">发布</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/plugins/jquery-3.3.1.min.js"></script>
<script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/plugins/kindeditor/lang/zh-CN.js"></script>

<script>
    KindEditor.ready(function (K) {
        window.editor = K.create('#content', {
            uploadJson: "/fault-report/upload-img/",
            extraFileUploadParams: {  // 上传文件时额外传递的参数
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            }
        });
    });
</script>
</body>
</html>