{#<!--注释#}
{# form_obj就是<label for="id_username">用户名:</label></th><td><input type="text" name="username" minlength="2"#}
{#class="form-control" required id="id_username" />#}
{#{{ field.id_for_label }} 就是id#}
{#{{ field.label }}就是字段名#}
{#{{ field }}就是input标签#}



{% extends 'base.html' %}
{% block page-css %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    {#    <link rel="stylesheet" href="/static/css/mycss.css">#}

{% endblock %}


{% block page-js %}
{#    <script src="/static/plugins/jquery-3.3.1.min.js"></script>#}
{#    <script src="/static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>#}
    <script src="/static/js/edit_register.js"></script>
{% endblock %}
{% block page-left %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">内容管理</h3>
        </div>
        <div class="panel-body">
            <a class="btn btn-default btn-block" href="/fault-report/add-report/">发布</a>
            <hr>
            <p><a href="">我的评论</a></p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">资料管理</h3>
        </div>
        <div class="panel-body">
            <p><a href="/change_password/">修改密码</a></p>
            <p><a href="/edit_info/">修改信息</a></p>
        </div>
    </div>
{% endblock %}

{% block page-right %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form  action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">用户名</label>
                        <input type="text" id="title" name="name" class="form-control" value="{{ user_obj.username }}">
                    </div>
                    <div class="form-group">
                        <label for="title">电话</label>
                        <input type="text" id="title" name="phone" class="form-control" value="{{ user_obj.phone }}">
                    </div>
                    <div class="form-group">
                        <label for="title">邮箱</label>
                        <input type="text" id="title" name="email" class="form-control" value="{{ user_obj.email }}">
                    </div>

                    <div class="form-group">
                        <label for="id_avatar">头像
                            <img name="avatar" src="/media/{{ user_obj.avatar }}" id="avatar-img" style="width: 60px">
                        </label>
                        <input name="avatar" type="file" id="id_avatar" accept="image/*" class="form-control" style="display: none">

                    </div>
                    <div style="text-align: center">
                        <button style="width: 100px" type="submit" class="btn btn-success" id="submit-btn">提交</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
{% endblock %}