{#<!--注释#}
{# form_obj就是<label for="id_username">用户名:</label></th><td><input type="text" name="username" minlength="2"#}
{#class="form-control" required id="id_username" />#}
{#{{ field.id_for_label }} 就是id#}
{#{{ field.label }}就是字段名#}
{#{{ field }}就是input标签#}
{##}
{##}
{##}
{% extends "monther/monther.html" %}

{% block page-css %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    {#    <link rel="stylesheet" href="/static/css/mycss.css">#}
{% endblock %}

{% block page-main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="register-form" method="post">
                    {% csrf_token %}
                    {% for field in form_obj %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="help-block"></span>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="id_avatar">头像<img src="/static/images/default.png" id="avatar-img" style="width: 60px">
                        </label>
                        <input type="file" id="id_avatar" accept="image/*" class="form-control" style="display: none">
                    </div>
                    <div style="text-align: center">
                        <button style="width: 100px" type="button" class="btn btn-success" id="submit-btn">提交</button>

                    </div>

                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block page-js %}
    <script>
        console.log("JS11111")
    </script>
    <script src="/static/js/register.js"></script>
{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">#}
{#</head>#}
{#<body>#}
{##}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-md-offset-3">#}
{#            <form class="register-form">#}
{#                {% csrf_token %}#}
{#                {% for field in form_obj %}#}
{#                <div class="form-group">#}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                    {{ field }}#}
{#                    <span class="help-block"></span>#}
{#                </div>#}
{#                {% endfor %}#}
{#                <div class="form-group">#}
{#                    <label for="id_avatar">头像#}
{#                        <img src="/static/images/default.png" id="avatar-img" style="width: 80px;height: 80px">#}
{#                    </label>#}
{##}
{#                    <input type="file" id="id_avatar" accept="image/*" class="form-control" style="display: none">#}
{##}
{#                </div>#}
{#                <button type="button" class="btn btn-default" id="submit-btn">注册</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}

{#<script src="/static/plugins/jquery-3.3.1.min.js"></script>#}
{#<script src="/static/js/register.js"></script>#}
{#<script>#}
{#    $("#submit-btn").click(function () {#}
{#        // 因为注册功能有头像文件 数据，所以要用FormData对象提交数据#}
{#        var fd = new FormData();#}
{#        fd.append("username", $("#id_username").val());#}
{#        fd.append("password", $("#id_password").val());#}
{#        fd.append("re_password", $("#id_re_password").val());#}
{#        fd.append("phone", $("#id_phone").val());#}
{#        fd.append("email", $("#id_email").val());#}
{#        fd.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());#}
{#        // avatar头像#}
{#        fd.append("avatar", $("#id_avatar")[0].files[0]);#}
{#        $.ajax({#}
{#            url: "/register/",#}
{#            type: "post",#}
{#            data: fd,#}
{#            contentType: false,#}
{#            processData: false,#}
{#            success:function (res) {#}
{#                if (res.code === 1){#}
{#                    // 有错误#}
{#                    $.each(res.error, function (k, v) {#}
{#                        // 遍历所有字段的错误提示，将错误提示信息展示在页面上对应的位置#}
{#                        console.log(k, v[0]);#}
{#                        $("#id_" + k).next().text(v[0]).parent().addClass("has-error");#}
{#                    })#}
{#                }else {#}
{#                    // 没有错误默认跳转到登录页面#}
{#                    location.href = res.url#}
{#                }#}
{#            }#}
{#        })#}
{#    });#}
{##}
{#    // 给input标签绑定获取焦点就删除错误提示的动作#}
{#    $(".register-form input").focus(function () {#}
{#        $(this).next().text("").parent().removeClass("has-error");#}
{#    });#}
{##}
{#    // 头像预览功能#}
{#    $("#id_avatar").change(function () {#}
{#        // 取到用户选中的头像文件#}
{#        var fileObj = this.files[0];#}
{#        // 新建一个FileReader对象，从本地磁盘加载文件数据#}
{#        var fr = new FileReader();#}
{#        fr.readAsDataURL(fileObj);#}
{#        // 读取文件是需要时间的#}
{#        fr.onload = function () {#}
{#            // 找到头像预览的img标签，把它的src属性设置成我读取的用户选中的图片#}
{#            $("#avatar-img").attr("src", fr.result)#}
{#        }#}
{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}