<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>故障总结详情页</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/report_detail.css">
</head>
<body>
{% include "nav.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <h1>{{ report.title }}</h1>
                <!-- 故障总结的内容 -->
                <p>{{ report.faultdetail.content|safe }}</p>
            </div>
        </div>
    </div>

    {% csrf_token %}

    <!-- 点赞 开始-->
    <div class="clearfix">
        <div id="div_digg">
            <div class="diggit s21">
                <span class="diggnum" id="digg_count">{{ report.up_count }}</span>
            </div>

            <div class="buryit s21" >
                <span class="burynum" id="bury_count">{{ report.down_count }}</span>
            </div>

            <div class="clearfix"></div>
            <div class="diggword" id="digg_tips">

            </div>
        </div>
    </div>
    <!-- 点赞 结束-->
    <hr>
    <!-- 评论展示区 开始-->
    <div class="comment-list">
        <p>评论楼：</p>
        <div class="list-group">
            {% for comment in report.comment_set.all %}
             <div class="list-group-item">
                <h4 class="list-group-item-heading" s21="{{ comment.id }}">
                    <span>{{ forloop.counter }}楼</span>
                    <span>{{ comment.create_time }}</span>
                    <span>{{ comment.user.username }}</span>
                    <span class="replay pull-right">回复</span>
                </h4>
                 <!-- 判断当前的评论 有没有父评论，如果有父评论就展示 -->
                 {% if comment.parent_comment %}
                 <div class="list-group-item-text well">
                 @{{ comment.parent_comment.user.username }}
                 <p>{{ comment.parent_comment.content }}</p>
                 </div>
                 {% endif %}
                <p class="list-group-item-text">
                    {{ comment.content }}
                </p>
            </div>

            {% endfor %}
<!--
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span>1楼</span>
                    <span>2018-09-09</span>
                    <span>alex</span>
                </h4>
                <p class="list-group-item-text">
                    说的真是太好了！支持一波！
                </p>
            </div>
        -->
        </div>
    </div>
    <!-- 评论展示区 结束-->

    <hr>

    <!-- 发表评论区 开始-->
    <div class="comment-box">
        <div class="panel panel-primary">
      <div class="panel-heading">发表评论</div>
      <div class="panel-body">
        <div>用户名：{{ request.user.username }}</div>
          <div>
              <textarea id="content"  cols="60" rows="10"></textarea>
          </div>

          <button class="btn btn-success" id="submit-comment">发表评论</button>
      </div>
    </div>

    </div>
    <!-- 发表评论区 结束-->
</div>
<script src="/static/plugins/jquery-3.3.1.min.js"></script>
<script>
    // 点赞操作
    $(".s21").click(function () {
        // 取到点赞操作需要的三个数据
        // 1. 谁 2. 哪篇文章 3. 支持or反对
        var userId = {{  request.user.id }};
        var reportId = {{ report.id }};
        var isUp = $(this).hasClass("diggit");

        // 往后端发送请求，创建点赞记录
        $.ajax({
            url: "/fault-report/updown/",  // 《up&down》 韩国女团 非常sexy
            type: 'post',
            data: {
                "user_id": userId,
                "report_id": reportId,
                "is_up": isUp,
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val() // 一定不要忘了
            },
            success: function (res) {
                console.log(res);
                if (res.code === 1){
                    // 有错误就展示错误提示信息
                    $("#digg_tips").text(res.msg);
                }else {
                    // 点赞记录已经创建，在页面上展示效果
                    // 1. +1操作
                    if (isUp) {
                        // 点赞数+1
                        var $upEle = $("#digg_count");
                        var oldNum = $upEle.text();
                        $upEle.text(parseInt(oldNum) + 1);
                    }else {
                        // 反对数+1
                        var $downEle = $("#bury_count");
                        var oldNum = $downEle.text();
                        $downEle.text(+oldNum + 1);
                    }
                    // 2. 展示成功的提示信息
                    $("#digg_tips").text(res.msg);
                }
            }
        })
    });

    var parentId;

    // 发表评论
    $("#submit-comment").click(function () {
        // 1. 文章id  2. 谁 3. 评论的内容
        var reportId = {{ report.id }};
        var oldContent = $("#content").val(); // 要把@提示内容去掉
        var content = oldContent.slice(oldContent.indexOf("\n")+1,);
        console.log(parentId);
        $.ajax({
            url: "/fault-report/comment/",
            type: "post",
            data: {
                "report_id": reportId,
                "content": content,
                "parent_id": parentId,
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val() // 一定不要忘了
            },
            success:function (res) {
                console.log(res);
                if (res.code === 0){
                    // 手动的绘制一个评论楼，用的模板字符串
                    var s = `
                                <div class="list-group-item">
                <h4 class="list-group-item-heading" s21="${res.data.id}">
                    <span>${res.data.n}楼</span>
                    <span>${res.data.create_time}</span>
                    <span>${res.data.user}</span>
                    <span class="replay pull-right">回复</span>
                </h4>
                <p class="list-group-item-text">
                    ${res.data.content}
                </p>`;
                    // 将创建好的评论楼 追加到评论列表中
                    // 也就是将s字符串追加到 comment-list 下面的 div中
                    $(".comment-list>div").append(s);
                    // 清空评论输入框
                    $("#content").val("");
                    // 清空全局变量
                    parentId = undefined;
                }
            }
        })
    });


    // 给回复 按钮绑定事件
    //$(".replay").click(function () {

    $(".comment-list").on("click", ".replay",  function () {
        // 1. 光标聚焦到评论的输入框里面
        // 2. 获取回复的是谁
        var replayName = $(this).prev().text();
        console.log(replayName);
        console.log("@" + replayName +"\n");
        $("#content").val("@" + replayName +"\n").focus();  // 获取焦点
        // 只要点击了回复按钮，就把全局变量保存为回复的评论的id值
        parentId = $(this).parent().attr("s21");
    })

</script>
</body>
</html>