{% extends "mother.html" %}
{% block page-css %}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user.css">
{% endblock %}

{% block page-js %}
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    {#    <script src="/static/index.js"></script>#}
{% endblock %}

{% block page-main %}

    <div class="col-md-10">
        <div class="panel panel-info" id="show_user">
            <div class="panel-heading">
                <h3 class="panel-title">用户和业务关联</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="success">
                        <th>序号</th>
                        <th>id</th>
                        <th>用户名</th>
                        <th>管理的业务</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    {% for user in user %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>

                            <td>{% for service in user.services.all %}
                                 {% if forloop.last %}
                                     {{ service.name }}
                                 {% else %}
                                      {{ service.name }},
                                {% endif %}




                            {% endfor %}</td>

                            <td>

                                <a href="/edit_user_service/{{ user.id }}" class="btn btn-info">编辑</a>
{#                                <a href="/del_user/?id={{ obj.id }}" class="btn btn-warning">删除</a>#}


                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    {{ page_html|safe }}
    </div>

{% endblock %}
