<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user.css">
</head>
<body>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">主机管理系统</a>
        </div>
    </div>
</nav>
<ul class="nav nav-pills nav-stacked" style="width: 80px">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">用户列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="success">
                <th>序号</th>
                <th>用户id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            </thead>

            {% for obj in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.password }}</td>
                    <td>
                        <a href="/edit_user/?id={{ obj.id }}">编辑</a>
                        <a href="/del_user/?id={{ obj.id }}">删除</a>

                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

</body>
</html>